
body{
    background-color: rgb(255, 255, 255);
text-align: center;
margin: 0;
padding: 0;


}

header{
background-color: rgb(197, 32, 32);
margin-top:0px ;
text-align: left;
margin: 0;
padding: 0;
}

footer{
background-color: rgb(197, 32, 32);

text-align: left;

}


ul{
/*text-align: center        */



}





.liste{

    display: block;
    width: 450px;
    margin: 0 auto;
}


.gaucher-centrer{
 text-align: left ;


}


.black{
font-weight: 900;



}














